@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4f46e5;
  --color-brand-gold: #EBC05E;
  --color-dark-bg: #111111;
  --color-light-bg: #F8FAFC;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}

:root {
  --bg-color: #f9fafb;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@utility glass-card {
  @apply bg-white/5 border border-white/10 shadow-none backdrop-blur-md;
}